interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/SearchServer?searchText=Rue+du+Rh%C3%B4ne+14%2C+1204+Gen%C3%A8ve&type=locations&sr=2056&limit=10&origins=address
  response:
    body:
      string: '{"results":[{"attrs":{"detail":"rue du rhone 14 1204 geneve 6621 geneve
        ch ge","featureId":"2037304_3","geom_quadindex":"022121012112021102020","geom_st_box2d":"BOX(2500200.030000001
        1117827.3850000016,2500200.030000001 1117827.3850000016)","label":"Rue du
        Rh\u00f4ne 14 <b>1204 Gen\u00e8ve</b>","lat":46.20448303222656,"links":[{"href":"/rest/services/ech/MapServer/ch.swisstopo.amtliches-gebaeudeadressverzeichnis/101456133","rel":"related","title":"ch.swisstopo.amtliches-gebaeudeadressverzeichnis"},{"href":"/rest/services/ech/MapServer/ch.bfs.gebaeude_wohnungs_register/2037304_3","rel":"related","title":"ch.bfs.gebaeude_wohnungs_register"}],"lon":6.14558219909668,"num":14,"objectclass":"","origin":"address","rank":7,"x":1117827.375,"y":2500200.0,"zoomlevel":10},"id":3049729,"weight":1}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=2500200.0%2C1117827.375&geometryType=esriGeometryPoint&geometryFormat=geojson&layers=all%3Ach.bfs.gebaeude_wohnungs_register&sr=2056&tolerance=5&returnGeometry=false&limit=5&mapExtent=2499700.0%2C1117327.375%2C2500700.0%2C1118327.375&imageDisplay=1000%2C1000%2C96
  response:
    body:
      string: "{\"results\": [{\"layerBodId\": \"ch.bfs.gebaeude_wohnungs_register\",
        \"layerName\": \"GWR: Geb\xE4udestatus\", \"featureId\": \"2037304_3\", \"id\":
        \"2037304_3\", \"properties\": {\"egid\": \"2037304\", \"strname_deinr\":
        \"Rue du Rh\xF4ne 14\", \"plz_plz6\": \"1204/120400\", \"ggdename\": \"Gen\xE8ve\",
        \"ggdenr\": 6621, \"gexpdat\": \"06.09.2026\", \"gdekt\": \"GE\", \"egrid\":
        \"CH296589536314\", \"lgbkr\": 21, \"lparz\": \"7013\", \"lparzsx\": null,
        \"ltyp\": null, \"gebnr\": \"h567\", \"gbez\": \"\", \"gkode\": 2500184.8,
        \"gkodn\": 1117799.44, \"gksce\": 909, \"gstat\": 1004, \"gkat\": 1030, \"gklas\":
        1122, \"gbauj\": 1920, \"gbaum\": null, \"gbaup\": 8012, \"gabbj\": null,
        \"garea\": 2542, \"gvol\": null, \"gvolnorm\": null, \"gvolsce\": null, \"gastw\":
        8, \"ganzwhg\": 21, \"gazzi\": null, \"gschutzr\": null, \"gebf\": null, \"gwaerzh1\":
        7460, \"genh1\": 7580, \"gwaersceh1\": 869, \"gwaerdath1\": \"18.12.2025\",
        \"gwaerzh2\": null, \"genh2\": null, \"gwaersceh2\": null, \"gwaerdath2\":
        \"-\", \"gwaerzw1\": 7660, \"genw1\": 7580, \"gwaerscew1\": 869, \"gwaerdatw1\":
        \"18.12.2025\", \"gwaerzw2\": null, \"genw2\": null, \"gwaerscew2\": null,
        \"gwaerdatw2\": \"-\", \"edid\": \"3\", \"egaid\": 101456133, \"deinr\": \"14\",
        \"esid\": 10115978, \"strname\": [\"Rue du Rh\xF4ne\"], \"strnamk\": [\"Rue
        du Rh\xF4ne\"], \"strindx\": [\"Rh\xF4\"], \"strsp\": [\"FR\"], \"stroffiziel\":
        \"1\", \"dplz4\": 1204, \"dplzz\": 0, \"dplzname\": \"Gen\xE8ve\", \"dkode\":
        2500200.03, \"dkodn\": 1117827.385, \"doffadr\": 1, \"dexpdat\": \"06.09.2026\",
        \"ewid\": null, \"whgnr\": null, \"wstwk\": null, \"wmehrg\": null, \"weinr\":
        null, \"wbez\": null, \"wstat\": null, \"wexpdat\": null, \"wbauj\": null,
        \"wabbj\": null, \"warea\": null, \"wazim\": null, \"wkche\": null, \"label\":
        \"Rue du Rh\xF4ne 14\"}}]}"
    headers:
      content-type:
      - application/geo+json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=2500200.0%2C1117827.375&geometryType=esriGeometryPoint&geometryFormat=geojson&layers=all%3Ach.swisstopo-vd.amtliche-vermessung&sr=2056&tolerance=0&returnGeometry=true&limit=200
  response:
    body:
      string: '{"results": [{"type": "Feature", "featureId": 939257, "bbox": [2500172.5,
        1117801.9, 2500205.8, 1117829.3], "layerBodId": "ch.swisstopo-vd.amtliche-vermessung",
        "layerName": "OpenData-AV", "id": 939257, "geometry": {"type": "Polygon",
        "coordinates": [[[2500172.5, 1117808.3], [2500181.3, 1117829.3], [2500205.8,
        1117826.9], [2500199.0, 1117809.1], [2500197.8, 1117806.1], [2500187.7, 1117801.9],
        [2500172.5, 1117808.3]]]}, "properties": {"bfsnr": 6621, "ak": "GE", "name":
        "7012", "number": "7012", "identnd": "GE0100000021", "egris_egrid": "CH352465816388",
        "realestate_type": null, "geoportal_url": "https://map.sitg.ch/?mapresources=CADASTRE",
        "label": "7012"}}]}'
    headers:
      content-type:
      - application/geo+json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/SearchServer?searchText=CH296589536314&type=locations&sr=2056&limit=1&origins=parcel
  response:
    body:
      string: '{"results":[{"attrs":{"detail":"7013 geneve 6621 ch296589536314","geom_quadindex":"0221210121","geom_st_box2d":"BOX(2500151.3779999986
        1117732.4250000007,2500218.223000001 1117808.2800000012)","label":"<b>Gen\u00e8ve</b>
        7013 (CH 2965 8953 6314)","lat":46.20397186279297,"lon":6.1451544761657715,"num":7013,"objectclass":"","origin":"parcel","rank":10,"x":1117770.875,"y":2500166.0,"zoomlevel":10},"id":945126,"weight":7}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=%7B%22rings%22%3A%5B%5B%5B2500151.4%2C1117737.7%5D%2C%5B2500161.1%2C1117757.8%5D%2C%5B2500152.8%2C1117761.4%5D%2C%5B2500172.5%2C1117808.3%5D%2C%5B2500187.7%2C1117801.9%5D%2C%5B2500197.8%2C1117806.1%5D%2C%5B2500197.5%2C1117805.3%5D%2C%5B2500207.2%2C1117799.4%5D%2C%5B2500209.3%2C1117798.1%5D%2C%5B2500218.2%2C1117792.5%5D%2C%5B2500208.3%2C1117778.2%5D%2C%5B2500195.1%[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=%7B%22rings%22%3A%5B%5B%5B2500151.4%2C1117737.7%5D%2C%5B2500161.1%2C1117757.8%5D%2C%5B2500152.8%2C1117761.4%5D%2C%5B2500172.5%2C1117808.3%5D%2C%5B2500187.7%2C1117801.9%5D%2C%5B2500197.8%2C1117806.1%5D%2C%5B2500197.5%2C1117805.3%5D%2C%5B2500207.2%2C1117799.4%5D%2C%5B2500209.3%2C1117798.1%5D%2C%5B2500218.2%2C1117792.5%5D%2C%5B2500208.3%2C1117778.2%5D%2C%5B2500195.1%[...]
