interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/SearchServer?searchText=Z%C3%BCrich+AU6979&type=locations&sr=2056&limit=10&origins=parcel
  response:
    body:
      string: '{"results":[{"attrs":{"detail":"au6979 zuerich 261 ch527182999120","geom_quadindex":"030003033322","geom_st_box2d":"BOX(2681623.954
        1247571.9549999982,2681765.2930000015 1247675.5179999992)","label":"<b>Z\u00fcrich</b>
        AU6979 (CH 5271 8299 9120)","lat":47.37437057495117,"lon":8.520490646362305,"num":6979,"objectclass":"","origin":"parcel","rank":10,"x":1247622.125,"y":2681706.0,"zoomlevel":10},"id":2280772,"weight":3}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=2681706.0%2C1247622.125&geometryType=esriGeometryPoint&geometryFormat=geojson&layers=all%3Ach.bfs.gebaeude_wohnungs_register&sr=2056&tolerance=25&returnGeometry=false&limit=5&mapExtent=2681206.0%2C1247122.125%2C2682206.0%2C1248122.125&imageDisplay=1000%2C1000%2C96
  response:
    body:
      string: "{\"results\": [{\"layerBodId\": \"ch.bfs.gebaeude_wohnungs_register\",
        \"layerName\": \"GWR: Geb\xE4udestatus\", \"featureId\": \"302060629_5\",
        \"id\": \"302060629_5\", \"properties\": {\"egid\": \"302060629\", \"strname_deinr\":
        \"Kalkbreitestrasse 6\", \"plz_plz6\": \"8003/800300\", \"ggdename\": \"Z\xFCrich\",
        \"ggdenr\": 261, \"gexpdat\": \"06.09.2026\", \"gdekt\": \"ZH\", \"egrid\":
        \"CH527182999120\", \"lgbkr\": 264, \"lparz\": \"AU6979\", \"lparzsx\": null,
        \"ltyp\": null, \"gebnr\": \"261AU05053\", \"gbez\": \"\", \"gkode\": 2681686.65,
        \"gkodn\": 1247622.32, \"gksce\": 904, \"gstat\": 1004, \"gkat\": 1030, \"gklas\":
        1122, \"gbauj\": 2014, \"gbaum\": 4, \"gbaup\": 8022, \"gabbj\": null, \"garea\":
        5565, \"gvol\": 78700, \"gvolnorm\": 962, \"gvolsce\": 859, \"gastw\": 9,
        \"ganzwhg\": 55, \"gazzi\": null, \"gschutzr\": 1, \"gebf\": 21704, \"gwaerzh1\":
        7410, \"genh1\": 7599, \"gwaersceh1\": 859, \"gwaerdath1\": \"02.12.2020\",
        \"gwaerzh2\": null, \"genh2\": null, \"gwaersceh2\": null, \"gwaerdath2\":
        \"-\", \"gwaerzw1\": 7610, \"genw1\": 7582, \"gwaerscew1\": 859, \"gwaerdatw1\":
        \"02.12.2020\", \"gwaerzw2\": null, \"genw2\": null, \"gwaerscew2\": null,
        \"gwaerdatw2\": \"-\", \"edid\": \"5\", \"egaid\": 101830808, \"deinr\": \"6\",
        \"esid\": 10182305, \"strname\": [\"Kalkbreitestrasse\"], \"strnamk\": [\"Kalkbreitestr.\"],
        \"strindx\": [\"Kal\"], \"strsp\": [\"DE\"], \"stroffiziel\": \"1\", \"dplz4\":
        8003, \"dplzz\": 0, \"dplzname\": \"Z\xFCrich\", \"dkode\": 2681728.996, \"dkodn\":
        1247627.886, \"doffadr\": 1, \"dexpdat\": \"06.09.2026\", \"ewid\": null,
        \"whgnr\": null, \"wstwk\": null, \"wmehrg\": null, \"weinr\": null, \"wbez\":
        null, \"wstat\": null, \"wexpdat\": null, \"wbauj\": null, \"wabbj\": null,
        \"warea\": null, \"wazim\": null, \"wkche\": null, \"label\": \"Kalkbreitestrasse
        6\"}}, {\"layerBodId\": \"ch.bfs.gebaeude_wohnungs_register\", \"layerName\":
        \"GWR: Geb\xE4udestatus\", \"featureId\": \"302060629_1\", \"id\": \"302060629_1\",
        \"properties\": {\"egid\": \"302060629\", \"strname_deinr\": \"Badenerstrasse
        173\", \"plz_plz6\": \"8003/800300\", \"ggdename\": \"Z\xFCrich\", \"ggdenr\":
        261, \"gexpdat\": \"06.09.2026\", \"gdekt\": \"ZH\", \"egrid\": \"CH527182999120\",
        \"lgbkr\": [...]
[...]
