interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/SearchServer?searchText=Via+Nassa+5%2C+6900+Lugano&type=locations&sr=2056&limit=10&origins=address
  response:
    body:
      string: '{"results":[{"attrs":{"detail":"via nassa 5 6900 lugano 5192 lugano
        ch ti","featureId":"740335_0","geom_quadindex":"032033310233122312331","geom_st_box2d":"BOX(2717096.1889999993
        1095749.1369999982,2717096.1889999993 1095749.1369999982)","label":"Via Nassa
        5 <b>6900 Lugano</b>","lat":46.003150939941406,"links":[{"href":"/rest/services/ech/MapServer/ch.swisstopo.amtliches-gebaeudeadressverzeichnis/101324727","rel":"related","title":"ch.swisstopo.amtliches-gebaeudeadressverzeichnis"},{"href":"/rest/services/ech/MapServer/ch.bfs.gebaeude_wohnungs_register/740335_0","rel":"related","title":"ch.bfs.gebaeude_wohnungs_register"}],"lon":8.95024585723877,"num":5,"objectclass":"","origin":"address","rank":7,"x":1095749.125,"y":2717096.25,"zoomlevel":10},"id":237245,"weight":1}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=2717096.25%2C1095749.125&geometryType=esriGeometryPoint&geometryFormat=geojson&layers=all%3Ach.bfs.gebaeude_wohnungs_register&sr=2056&tolerance=5&returnGeometry=false&limit=5&mapExtent=2716596.25%2C1095249.125%2C2717596.25%2C1096249.125&imageDisplay=1000%2C1000%2C96
  response:
    body:
      string: "{\"results\": [{\"layerBodId\": \"ch.bfs.gebaeude_wohnungs_register\",
        \"layerName\": \"GWR: Geb\xE4udestatus\", \"featureId\": \"740335_0\", \"id\":
        \"740335_0\", \"properties\": {\"egid\": \"740335\", \"strname_deinr\": \"Via
        Nassa 5\", \"plz_plz6\": \"6900/690000\", \"ggdename\": \"Lugano\", \"ggdenr\":
        5192, \"gexpdat\": \"06.09.2026\", \"gdekt\": \"TI\", \"egrid\": \"CH987802070993\",
        \"lgbkr\": 1, \"lparz\": \"191\", \"lparzsx\": null, \"ltyp\": null, \"gebnr\":
        \"191a\", \"gbez\": \"\", \"gkode\": 2717102.5, \"gkodn\": 1095749.74, \"gksce\":
        905, \"gstat\": 1004, \"gkat\": 1060, \"gklas\": 1220, \"gbauj\": null, \"gbaum\":
        null, \"gbaup\": 8011, \"gabbj\": null, \"garea\": 617, \"gvol\": null, \"gvolnorm\":
        null, \"gvolsce\": null, \"gastw\": 6, \"ganzwhg\": null, \"gazzi\": null,
        \"gschutzr\": null, \"gebf\": 222, \"gwaerzh1\": 7410, \"genh1\": 7501, \"gwaersceh1\":
        869, \"gwaerdath1\": \"01.02.2023\", \"gwaerzh2\": 7400, \"genh2\": 7500,
        \"gwaersceh2\": 869, \"gwaerdath2\": \"01.02.2023\", \"gwaerzw1\": 7610, \"genw1\":
        7501, \"gwaerscew1\": 869, \"gwaerdatw1\": \"01.02.2023\", \"gwaerzw2\": 7600,
        \"genw2\": 7500, \"gwaerscew2\": 869, \"gwaerdatw2\": \"01.02.2023\", \"edid\":
        \"0\", \"egaid\": 101324727, \"deinr\": \"5\", \"esid\": 10133085, \"strname\":
        [\"Via Nassa\"], \"strnamk\": [\"Via Nassa\"], \"strindx\": [\"Nas\"], \"strsp\":
        [\"IT\"], \"stroffiziel\": \"1\", \"dplz4\": 6900, \"dplzz\": 0, \"dplzname\":
        \"Lugano\", \"dkode\": 2717096.189, \"dkodn\": 1095749.137, \"doffadr\": 1,
        \"dexpdat\": \"06.09.2026\", \"ewid\": null, \"whgnr\": null, \"wstwk\": null,
        \"wmehrg\": null, \"weinr\": null, \"wbez\": null, \"wstat\": null, \"wexpdat\":
        null, \"wbauj\": null, \"wabbj\": null, \"warea\": null, \"wazim\": null,
        \"wkche\": null, \"label\": \"Via Nassa 5\"}}]}"
    headers:
      content-type:
      - application/geo+json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=2717096.25%2C1095749.125&geometryType=esriGeometryPoint&geometryFormat=geojson&layers=all%3Ach.swisstopo-vd.amtliche-vermessung&sr=2056&tolerance=0&returnGeometry=true&limit=200
  response:
    body:
      string: '{"results": [{"type": "Feature", "featureId": 3744293, "bbox": [2717087.4,
        1095731.3, 2717117.6, 1095768.2], "layerBodId": "ch.swisstopo-vd.amtliche-vermessung",
        "layerName": "OpenData-AV", "id": 3744293, "geometry": {"type": "Polygon",
        "coordinates": [[[2717087.4, 1095740.2], [2717098.8, 1095768.2], [2717109.3,
        1095759.8], [2717117.6, 1095747.1], [2717106.8, 1095731.3], [2717087.4, 1095740.2]]]},
        "properties": {"bfsnr": 5192, "ak": "TI", "name": "191", "number": "191",
        "identnd": "TI79701", "egris_egrid": "CH987802070993", "realestate_type":
        null, "geoportal_url": "https://www.ti.ch/mu", "label": "191"}}]}'
    headers:
      content-type:
      - application/geo+json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=%7B%22rings%22%3A%5B%5B%5B2717087.4%2C1095740.2%5D%2C%5B2717098.8%2C1095768.2%5D%2C%5B2717109.3%2C1095759.8%5D%2C%5B2717117.6%2C1095747.1%5D%2C%5B2717106.8%2C1095731.3%5D%2C%5B2717087.4%2C1095740.2%5D%5D%5D%2C%22spatialReference%22%3A%7B%22wkid%22%3A2056%7D%7D&geometryType=esriGeometryPolygon&geometryFormat=geojson&layers=all%3Ach.swisstopo-vd.amtliche-vermessung&[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=%7B%22rings%22%3A%5B%5B%5B2717087.4%2C1095740.2%5D%2C%5B2717098.8%2C1095768.2%5D%2C%5B2717109.3%2C1095759.8%5D%2C%5B2717117.6%2C1095747.1%5D%2C%5B2717106.8%2C1095731.3%5D%2C%5B2717087.4%2C1095740.2%5D%5D%5D%2C%22spatialReference%22%3A%7B%22wkid%22%3A2056%7D%7D&geometryType=esriGeometryPolygon&geometryFormat=geojson&layers=all%3Ach.bfs.gebaeude_wohnungs_register&sr[...]
