interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/SearchServer?searchText=Technikumstrasse+9%2C+8400+Winterthur&type=locations&sr=2056&limit=10&origins=address
  response:
    body:
      string: '{"results":[{"attrs":{"detail":"technikumstrasse 9 8400 winterthur
        230 winterthur ch zh","featureId":"2323668_0","geom_quadindex":"030010211310113100000","geom_st_box2d":"BOX(2697252.022
        1261532.7859999985,2697252.022 1261532.7859999985)","label":"Technikumstrasse
        9 <b>8400 Winterthur</b>","lat":47.49735641479492,"links":[{"href":"/rest/services/ech/MapServer/ch.swisstopo.amtliches-gebaeudeadressverzeichnis/101160249","rel":"related","title":"ch.swisstopo.amtliches-gebaeudeadressverzeichnis"},{"href":"/rest/services/ech/MapServer/ch.bfs.gebaeude_wohnungs_register/2323668_0","rel":"related","title":"ch.bfs.gebaeude_wohnungs_register"}],"lon":8.729328155517578,"num":9,"objectclass":"","origin":"address","rank":7,"x":1261532.75,"y":2697252.0,"zoomlevel":10},"id":2066682,"weight":1},{"attrs":{"detail":"technikumstrasse
        9.1 8400 winterthur 230 winterthur ch zh","featureId":"201031288_1","geom_quadindex":"030010211133223220302","geom_st_box2d":"BOX(2697298.096999999
        1261566.943,2697298.096999999 1261566.943)","label":"Technikumstrasse 9.1
        <b>8400 Winterthur</b>","lat":47.497657775878906,"links":[{"href":"/rest/services/ech/MapServer/ch.swisstopo.amtliches-gebaeudeadressverzeichnis/101686045","rel":"related","title":"ch.swisstopo.amtliches-gebaeudead[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=2697252.0%2C1261532.75&geometryType=esriGeometryPoint&geometryFormat=geojson&layers=all%3Ach.bfs.gebaeude_wohnungs_register&sr=2056&tolerance=5&returnGeometry=false&limit=5&mapExtent=2696752.0%2C1261032.75%2C2697752.0%2C1262032.75&imageDisplay=1000%2C1000%2C96
  response:
    body:
      string: "{\"results\": [{\"layerBodId\": \"ch.bfs.gebaeude_wohnungs_register\",
        \"layerName\": \"GWR: Geb\xE4udestatus\", \"featureId\": \"2323668_0\", \"id\":
        \"2323668_0\", \"properties\": {\"egid\": \"2323668\", \"strname_deinr\":
        \"Technikumstrasse 9\", \"plz_plz6\": \"8400/840000\", \"ggdename\": \"Winterthur\",
        \"ggdenr\": 230, \"gexpdat\": \"06.09.2026\", \"gdekt\": \"ZH\", \"egrid\":
        \"CH427786200879\", \"lgbkr\": 1, \"lparz\": \"ST9255\", \"lparzsx\": null,
        \"ltyp\": null, \"gebnr\": \"230ST01194\", \"gbez\": \"\", \"gkode\": 2697253.29,
        \"gkodn\": 1261523.581, \"gksce\": 901, \"gstat\": 1004, \"gkat\": 1060, \"gklas\":
        1263, \"gbauj\": 1877, \"gbaum\": 1, \"gbaup\": 8011, \"gabbj\": null, \"garea\":
        1339, \"gvol\": null, \"gvolnorm\": null, \"gvolsce\": null, \"gastw\": null,
        \"ganzwhg\": null, \"gazzi\": null, \"gschutzr\": null, \"gebf\": null, \"gwaerzh1\":
        7461, \"genh1\": 7581, \"gwaersceh1\": 865, \"gwaerdath1\": \"09.02.2024\",
        \"gwaerzh2\": null, \"genh2\": null, \"gwaersceh2\": null, \"gwaerdath2\":
        \"-\", \"gwaerzw1\": 7600, \"genw1\": 7500, \"gwaerscew1\": 859, \"gwaerdatw1\":
        \"12.02.2021\", \"gwaerzw2\": 7600, \"genw2\": 7500, \"gwaerscew2\": 859,
        \"gwaerdatw2\": \"12.02.2021\", \"edid\": \"0\", \"egaid\": 101160249, \"deinr\":
        \"9\", \"esid\": 10091753, \"strname\": [\"Technikumstrasse\"], \"strnamk\":
        [\"Technikumstr.\"], \"strindx\": [\"Tec\"], \"strsp\": [\"DE\"], \"stroffiziel\":
        \"1\", \"dplz4\": 8400, \"dplzz\": 0, \"dplzname\": \"Winterthur\", \"dkode\":
        2697252.022, \"dkodn\": 1261532.786, \"doffadr\": 1, \"dexpdat\": \"06.09.2026\",
        \"ewid\": null, \"whgnr\": null, \"wstwk\": null, \"wmehrg\": null, \"weinr\":
        null, \"wbez\": null, \"wstat\": null, \"wexpdat\": null, \"wbauj\": null,
        \"wabbj\": null, \"warea\": null, \"wazim\": null, \"wkche\": null, \"label\":
        \"Technikumstrasse 9\"}}]}"
    headers:
      content-type:
      - application/geo+json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=2697252.0%2C1261532.75&geometryType=esriGeometryPoint&geometryFormat=geojson&layers=all%3Ach.swisstopo-vd.amtliche-vermessung&sr=2056&tolerance=0&returnGeometry=true&limit=200
  response:
    body:
      string: '{"results": [{"type": "Feature", "featureId": 2482095, "bbox": [2697127.3,
        1261366.1, 2697378.7, 1261573.6], "layerBodId": "ch.swisstopo-vd.amtliche-vermessung",
        "layerName": "OpenData-AV", "id": 2482095, "geometry": {"type": "Polygon",
        "coordinates": [[[2697127.3, 1261536.7], [2697132.3, 1261540.5], [2697132.7,
        1261540.8], [2697133.0, 1261541.1], [2697133.3, 1261541.3], [2697133.7, 1261541.6],
        [2697134.0, 1261541.9], [2697134.3, 1261542.2], [2697134.6, 1261542.5], [2697134.9,
        1261542.8], [2697135.2, 1261543.1], [2697135.5, 1261543.4], [2697135.8, 1261543.8],
        [2697136.1, 1261544.1], [2697136.4, 1261544.4], [2697143.5, 1261544.8], [2697153.5,
        1261544.8], [2697153.5, 1261543.7], [2697165.1, 1261543.7], [[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=%7B%22rings%22%3A%5B%5B%5B2697127.3%2C1261536.7%5D%2C%5B2697133.7%2C1261541.6%5D%2C%5B2697136.4%2C1261544.4%5D%2C%5B2697153.5%2C1261544.8%5D%2C%5B2697153.5%2C1261543.7%5D%2C%5B2697165.1%2C1261543.7%5D%2C%5B2697366.0%2C1261573.5%5D%2C%5B2697368.0%2C1261573.5%5D%2C%5B2697370.8%2C1261572.3%5D%2C%5B2697372.3%2C1261570.7%5D%2C%5B2697373.1%2C1261568.9%5D%2C%5B2697376.6%[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=%7B%22rings%22%3A%5B%5B%5B2697127.3%2C1261536.7%5D%2C%5B2697133.7%2C1261541.6%5D%2C%5B2697136.4%2C1261544.4%5D%2C%5B2697153.5%2C1261544.8%5D%2C%5B2697153.5%2C1261543.7%5D%2C%5B2697165.1%2C1261543.7%5D%2C%5B2697366.0%2C1261573.5%5D%2C%5B2697368.0%2C1261573.5%5D%2C%5B2697370.8%2C1261572.3%5D%2C%5B2697372.3%2C1261570.7%5D%2C%5B2697373.1%2C1261568.9%5D%2C%5B2697376.6%[...]
