interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/api/SearchServer?searchText=Seefeldstrasse+80+8008+Z%C3%BCrich&type=locations&sr=2056&limit=10&origins=address
  response:
    body:
      string: '{"results":[{"attrs":{"detail":"seefeldstrasse 1 8008 zuerich 261 zuerich
        ch zh","featureId":"2369241_1","geom_quadindex":"030003300123302123222","geom_st_box2d":"BOX(2683808.401999999
        1246635.8189999983,2683808.401999999 1246635.8189999983)","label":"Seefeldstrasse
        1 <b>8008 Z\u00fcrich</b>","lat":47.365238189697266,"links":[{"href":"/rest/services/ech/MapServer/ch.swisstopo.amtliches-gebaeudeadressverzeichnis/101698587","rel":"related","title":"ch.swisstopo.amtliches-gebaeudeadressverzeichnis"},{"href":"/rest/services/ech/MapServer/ch.bfs.gebaeude_wohnungs_register/2369241_1","rel":"related","title":"ch.bfs.gebaeude_wohnungs_register"}],"lon":8.548137664794922,"num":1,"objectclass":"","origin":"address","rank":7,"x":1246635.875,"y":2683808.5,"zoomlevel":10},"id":2171119,"weight":1},{"attrs":{"detail":"seefeldstrasse
        2 8008 zuerich 261 zuerich ch zh","featureId":"2369611_1","geom_quadindex":"030003300123320202123","geom_st_box2d":"BOX(2683792.6290000007
        1246601.1590000018,2683792.6290000007 1246601.1590000018)","label":"Seefeldstrasse
        2 <b>8008 Z\u00fcrich</b>","lat":47.364925384521484,"links":[{"href":"/rest/services/ech/MapServer/ch.swisstopo.amtliches-gebaeudeadressverzeichnis/101698595","rel":"related","title":"ch.swisstopo.amtliches-gebaeudea[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=2683808.5%2C1246635.875&geometryType=esriGeometryPoint&geometryFormat=geojson&layers=all%3Ach.bfs.gebaeude_wohnungs_register&sr=2056&tolerance=5&returnGeometry=false&limit=5&mapExtent=2683308.5%2C1246135.875%2C2684308.5%2C1247135.875&imageDisplay=1000%2C1000%2C96
  response:
    body:
      string: "{\"results\": [{\"layerBodId\": \"ch.bfs.gebaeude_wohnungs_register\",
        \"layerName\": \"GWR: Geb\xE4udestatus\", \"featureId\": \"2369241_1\", \"id\":
        \"2369241_1\", \"properties\": {\"egid\": \"2369241\", \"strname_deinr\":
        \"Seefeldstrasse 1\", \"plz_plz6\": \"8008/800800\", \"ggdename\": \"Z\xFCrich\",
        \"ggdenr\": 261, \"gexpdat\": \"06.09.2026\", \"gdekt\": \"ZH\", \"egrid\":
        \"CH986399917979\", \"lgbkr\": 273, \"lparz\": \"RI4432\", \"lparzsx\": null,
        \"ltyp\": null, \"gebnr\": \"261RI00278\", \"gbez\": \"\", \"gkode\": 2683812.14,
        \"gkodn\": 1246641.7, \"gksce\": 904, \"gstat\": 1004, \"gkat\": 1060, \"gklas\":
        1220, \"gbauj\": 1838, \"gbaum\": 1, \"gbaup\": 8011, \"gabbj\": null, \"garea\":
        279, \"gvol\": 6000, \"gvolnorm\": 962, \"gvolsce\": 859, \"gastw\": 7, \"ganzwhg\":
        null, \"gazzi\": null, \"gschutzr\": 1, \"gebf\": 1395, \"gwaerzh1\": 7430,
        \"genh1\": 7520, \"gwaersceh1\": 859, \"gwaerdath1\": \"24.11.2018\", \"gwaerzh2\":
        null, \"genh2\": null, \"gwaersceh2\": null, \"gwaerdath2\": \"-\", \"gwaerzw1\":
        7630, \"genw1\": 7520, \"gwaerscew1\": 859, \"gwaerdatw1\": \"24.11.2018\",
        \"gwaerzw2\": null, \"genw2\": null, \"gwaerscew2\": null, \"gwaerdatw2\":
        \"-\", \"edid\": \"1\", \"egaid\": 101698587, \"deinr\": \"1\", \"esid\":
        10054852, \"strname\": [\"Seefeldstrasse\"], \"strnamk\": [\"Seefeldstr.\"],
        \"strindx\": [\"See\"], \"strsp\": [\"DE\"], \"stroffiziel\": \"1\", \"dplz4\":
        8008, \"dplzz\": 0, \"dplzname\": \"Z\xFCrich\", \"dkode\": 2683808.402, \"dkodn\":
        1246635.819, \"doffadr\": 1, \"dexpdat\": \"06.09.2026\", \"ewid\": null,
        \"whgnr\": null, \"wstwk\": null, \"wmehrg\": null, \"weinr\": null, \"wbez\":
        null, \"wstat\": null, \"wexpdat\": null, \"wbauj\": null, \"wabbj\": null,
        \"warea\": null, \"wazim\": null, \"wkche\": null, \"label\": \"Seefeldstrasse
        1\"}}]}"
    headers:
      content-type:
      - application/geo+json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=2683808.5%2C1246635.875&geometryType=esriGeometryPoint&geometryFormat=geojson&layers=all%3Ach.swisstopo-vd.amtliche-vermessung&sr=2056&tolerance=0&returnGeometry=true&limit=200
  response:
    body:
      string: '{"results": [{"type": "Feature", "featureId": 2290937, "bbox": [2683801.6,
        1246626.2, 2683829.6, 1246658.1], "layerBodId": "ch.swisstopo-vd.amtliche-vermessung",
        "layerName": "OpenData-AV", "id": 2290937, "geometry": {"type": "Polygon",
        "coordinates": [[[2683801.6, 1246636.2], [2683812.1, 1246651.8], [2683816.4,
        1246658.1], [2683829.6, 1246647.4], [2683821.8, 1246638.2], [2683817.7, 1246641.0],
        [2683815.3, 1246637.5], [2683807.6, 1246626.2], [2683801.6, 1246636.2]]]},
        "properties": {"bfsnr": 261, "ak": "ZH", "name": "RI4432", "number": "RI4432",
        "identnd": "ZH0200000261", "egris_egrid": "CH986399917979", "realestate_type":
        null, "geoportal_url": "https://maps.zh.ch?topic=AVfarbigZH&locate=gemeinden&locations=261",
        "label": "RI4432"}}]}'
    headers:
      content-type:
      - application/geo+json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=%7B%22rings%22%3A%5B%5B%5B2683801.6%2C1246636.2%5D%2C%5B2683812.1%2C1246651.8%5D%2C%5B2683816.4%2C1246658.1%5D%2C%5B2683829.6%2C1246647.4%5D%2C%5B2683821.8%2C1246638.2%5D%2C%5B2683817.7%2C1246641.0%5D%2C%5B2683815.3%2C1246637.5%5D%2C%5B2683807.6%2C1246626.2%5D%2C%5B2683801.6%2C1246636.2%5D%5D%5D%2C%22spatialReference%22%3A%7B%22wkid%22%3A2056%7D%7D&geometryType=es[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api3.geo.admin.ch/rest/services/all/MapServer/identify?geometry=%7B%22rings%22%3A%5B%5B%5B2683801.6%2C1246636.2%5D%2C%5B2683812.1%2C1246651.8%5D%2C%5B2683816.4%2C1246658.1%5D%2C%5B2683829.6%2C1246647.4%5D%2C%5B2683821.8%2C1246638.2%5D%2C%5B2683817.7%2C1246641.0%5D%2C%5B2683815.3%2C1246637.5%5D%2C%5B2683807.6%2C1246626.2%5D%2C%5B2683801.6%2C1246636.2%5D%5D%5D%2C%22spatialReference%22%3A%7B%22wkid%22%3A2056%7D%7D&geometryType=es[...]
